body {
    background-color: #5CDB95;
}

body * {
    text-decoration: none;
}

.container {
    background-color: #5CDB95;
    display: flex;
    flex-direction: column;
    margin: 1%;
    font-family: 'Montserrat', 'sans-serif';
    color: whitesmoke;
}

footer {
    background-color: lightgray;
    color: white;
    height: auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
}

footer p {
    color: #05386B;
}

.header {
    background-color: #5CDB95;
    justify-content: center;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-space {
    height: 1px;
    width: 85%;
    margin: 1%;
    background-color: #05386B;
}

.navbar {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    color: #05386B;
}

.navbar h1 {
    color: #05386B;
}

.navbar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.link-box {
    width: 160px;
    height: 30px;
    margin: auto 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border-radius: 2em;
    color: #05386B;
    background-color: #8EE4AF
}

.link-box:hover {
    background-color: #05386B;
    color: white;
}

.link-box li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: inherit;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.navbar form input {
    padding: 5px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: lightgray;
}

.navbar button {
    background-color: #05386B;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.highlighted img {
    width: 100%;
    border-radius: 2em;
}

.highlighted {
    margin: 2%;
    border-radius: 2em;
    box-shadow: 0 0 11px #05386B;
    transition: all 0.3s ease-in-out;
    background-color: #05386B;
    color: whitesmoke;
    padding: 2%;
}

.highlighted p {
    margin-left: 4%;
    text-decoration: none !important;
}

.highlighted h2 {
    margin-left: 2%;
}

.all-glasses .highlighted:hover {
    box-shadow: 0 0 11px rgba(0, 0, 80, 1);
    transform: scale(1.04)
}

.all-glasses .highlighted {
    width: 400px;
}

.highlighted:hover {
    box-shadow: 0 0 11px rgba(0, 0, 80, 1);
    transform: scale(1.05);
}

.home-section {
    display: flex;
    flex-direction: row;
}

.lastCocktails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lastCocktails .highlighted {
    width: 100%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lastCocktails .highlighted img {
    width: 85%;
    margin-top: 10%;
}

.lastCocktails .highlighted p {
    font-size: inherit;
}

.lastCocktails-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex-wrap: wrap;
}

.home-section a {
    text-decoration: none;
    color: whitesmoke;
}

.randomCategory-section {
    width: 50%;
    padding: 2%;
}

.randomCategory-section h2 {
    color: whitesmoke;
}

.lastCocktails-section h2 {
    color: whitesmoke
}

.home_page_cocktail {
    width: 200px;
    margin: 2%;
}

.spinner {
    justify-content: center;
    margin-left: 45%;
    margin-top: 10%;
    margin-bottom: 50%;
    align-self: center;
    height: 10%;
}

.all-cocktails {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.all-cocktails .highlighted {
    width: 200px;
    margin: 2%;
}

.all-ingredients {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.all-ingredients .highlighted {
    width: 150px;
    text-align: center;
}

.all-ingredients a {
    width: 150px;
    margin: 3%;
}

.nos-cocktails {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.nos-cocktails .a {
    width: 200px;
    background-color: black;
}

.all-glasses a .highlighted h2 {
    text-decoration: none !important;
}

.category .highlighted h2 {
    text-decoration: none !important;
}

.cocktail-details {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cocktail-details-header {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 2%;
    color: #05386B;
}

.cocktail-details-header img {
    width: 100%;
    border-radius: 2em;
}

.cocktail-details-header ul {
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: row;
    padding: 0;
}
.list-box{

    width: max-content;
    padding: 2%;
    height: 25px;
    display: flex;
    align-items: center;
    background-color: #99738E;
    color: white;
    margin: 1%;
}

.cocktail-details-body {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 2%;
    color: #05386B;
}

.cocktail-details-body ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: circle;
}